  
header {
  background-image: url("../img/test.jpg");
  background-size: 100%;
  opacity: 0.7;
  background-repeat: no-repeat;
  font-style: 'Lato'
}

.odd {
  background-color: #c0392b;
  color: white;
}

.main-header {
  background-color: #121212;
  opacity: 0.8;
  color: #fff;
  width: 100%;
  text-shadow: grey 0.2em 0.2em 0.2em;
  font-size: 1.5em;
  margin-top: 10%;
  margin-bottom: 20%;
}

h1 {
  font-size: 4em;
}

.tps-tt2 {
  margin-bottom: 1.4em;
}

.main-header, .lead, #localizacao {
  text-align: center;
}

.navbar {
  margin-bottom: 0px;
  width: 100%;
}

.bg-info {
  padding: 1.5em;
  background-color: #e3e5e3
}

.img-rounded {
  width: 80%;
}

.navbar-brand {
  font-size: 1em;
}

.footer-down {
  border-top: 1px solid #ccc;
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #333
}
.footer-down a {
  color: #fff;
}

.content {
  padding-top: 4em;
  padding-bottom: 4em;
}

.container-tps-cardapio {
  max-width: 960px;
}

.img-rounded-tps {
  border-radius: 50%;
}

@media (max-width: 768px) {
  .main-header {
    margin-top: 18%;
    font-size: 1.2em;
  }
  h1 {
    font-size: 1.5em;
  }
  /* Explicitamente ocultar barra de navegação em telas pequenas na pagina inicial */
  .pagina-inicial > .navbar {
  /*.pagina-inicial > .navbar-nav-tps-mainitens {*/
    display: none;
  }
  .pagina-cardapio .navbar-nav {
    display: none;
  }
}

.tps-localizacao-mapa {
  background: url(../img/tps-google-maps-local-full.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 200px;
}

.cta-tel-navbar {
  padding-bottom: .5em !important;
  padding-top: .5em !important;
  margin-top: .5em !important;
  color: #fff !important;
}
.cta-tel-navbar:hover, .cta-tel-navbar:focus {
  background-color: #f0ad4e !important;
}
.cta-rota {
  margin-top: 3em;
}
.tps-lista, .tps-lista li{
  list-style-type: none;
}